In [0]:
#make a varaiable
data =100
print(data)
data="Hello Mike"
print(data)
#formate used to get type of a perticular thing
a=3.14j
print('Type of a is{} '.format(type(a)))

100
Hello Mike
Type of a is<class 'complex'>

In [0]:
name='Mike'
name1="Xxcept1on"
print(name)
print(name1)

Mike
Xxcept1on

In [0]:
# if else statement

if(2>1):
  print("2 is greater")
else:
  print("1 is smaller")

2 is greater

In [0]:
#boolean statement
bool1=(1==1 and 2==2)
print("this is {}".format(bool1))

bool2=(1==1 or 2==3)
print("this is {}".format(bool2))

this is True
this is True

In [0]:
# basic list
listTest=["pubg","pubg lite","pubg mobile"]
print(listTest[0])
print(listTest[1])

pubg
pubg lite

In [0]:
#list can carry more than one datatype
generic_list=['1',[1,2,3],'hello']
print(generic_list[1])

[1, 2, 3]

In [0]:
#list append function
list1=[1,2,3]
list1.append(4)
print(list1)

[1, 2, 3, 4]

In [0]:
# use of in 
list2=["hello","world"]
y="hello" in list2
#len function used to calculate lengthprint(y)

True

In [0]:

list3=[1,2,3,4,5,6]
print(len(list3))

6

In [0]:
#max and min function used to find maximum and minimum numbers from the list
nums=[10,30,40]
nums.insert(1,20)
print(nums)
print(max(nums))
print(min(nums))
nums.reverse()
print("The reverse of list is {}".format(nums))
print(nums)

[10, 20, 30, 40]
40
10
The reverse of list is [40, 30, 20, 10]
[40, 30, 20, 10]

In [0]:
#removing specific number from the list
nums3=[1,2,3,1,4,1,5,1]
while 1 in nums3:
  nums3.remove(1)
print(nums3)

[2, 3, 4, 5]

In [0]:
#functions
def fun1():
  print("Hello World")
fun1()

def fun2(name,nickname):
  print(name,nickname)
fun2("Mike","Official")

Hello World
Mike Official

In [0]:
# *args used to pass a variable number of argument to a function
# The simple(*) is used to pass non keyword variable
# The double(**) is used to pass keyworded variable
def add_number(*args):
  for i in args:
    print(i)
add_number(1,2,3,4,5,6)

def add_numbers2(**args2):
  for key in args2:
    print("Keyword arg: {}: {}".format(key,args2[key]))
    
add_numbers2(num1=1,num2=2,num3=3)

1
2
3
4
5
6
Keyword arg: num1: 1
Keyword arg: num2: 2
Keyword arg: num3: 3

In [0]:
# modules can be used via import function
import random
for i in range(6):
  value=random.randint(1,8)
  print(value)

6
4
8
5
8
1

In [0]:
#Exception Handling
try:
  num1=10
  num2=0
  result=num1/num2
  print("this statement will be printed if there is no Exception")
except ZeroDivisionError
  print("Zero Division Error")

Zero Division Error

In [0]:
#multiple catch Exception
try:
  var=10
  print(var+"hello")
  print(var/2)
except ZeroDivisionError:
  print("Divide by Zero")
except (ValueError, TypeError):
  print("Error Occured")
finally:
  print("This will Always run")

Error Occured
This will Always run

In [0]:
x=(None==None)
print(x)

x=(None==True)
print(x)

x=(None==False)
print(x)

def afunc():
  print("Hello")
print(afunc())

True
False
False
Hello
None

In [0]:
#Dictionaries

SomeWords={"Xiaomi":"Mi","Apple":"premium"}
print(SomeWords["Xiaomi"])

philosphers={"united Kingdom":"Bertrand Russell","germany":"Karl Max","India":"None"}
philosphers["India"]="Arya Bhatt"
print(philosphers)

Mi
{'united Kingdom': 'Bertrand Russell', 'germany': 'Karl Max', 'India': 'Arya Bhatt'}

In [0]:
#Tuples
Mobile=("Honor","Mi","Oppo","vivo","One Plus")
print(Mobile[4])

def multiple_ret_params():
  return 1,2,3
x=multiple_ret_params()
print(type(x))

def func(*arg):
  print("The argument is",type(arg))
  pass 
func(1,2,3)

One Plus
<class 'tuple'>
The argument is <class 'tuple'>

In [0]:
#List sclice
number=[1,2,3,4,5,6,7,8,9,0]
print(number[2:4])
print(number[3::2])

[3, 4]
[4, 6, 8, 0]

In [0]:
#Formatting of String
nums=[1,2,3]
out="The Numbers are {},{},{}".format(nums[0],nums[1],nums[2])
print(out)

The Numbers are 1,2,3

In [0]:
class Pc:
  #self is used to refer an object
  def __init__(self,cpu,ram):
    self.cpu=cpu
    self.ram=ram
    print(cpu+ram)
  def specs(self):
    motherboard="Asus B360"
    Processor="Intel i5 9th gen"
    Ram="16GB"
    Storage="2TB"
    print(motherboard+Processor+Ram+Storage)
pc1=Pc("i9 9th gen","32 GB")
print(Pc.specs(pc1))

i9 9th gen32 GB
Asus B360Intel i5 9th gen16GB2TB
None

In [0]:
class test:
  def __init__(self):
    self.name="Mike"
    self.age="20"
  def updtae(self):
    self.age="21"
  def compare(self,other):
    if self.age==other.age:
      return True
    else:
      return False
  
t1=test()
t2=test()


if t1.compare(t2):
  print ("They are same")
  
print (t1.name)
print (t2.age)

They are same
Mike
20

In [0]:
class car:
  
  wheels=4
  
  def __init__(self):
    self.mil=10
    self.speed=200
    
c1=car()
c2=car()
print(c1.mil , c1.speed , c1.wheels)
print(c2.mil , c2.speed , c2.wheels)

10 200 4
10 200 4

In [4]:
class student:
  school='XYZ'
  def __init__(self,m1,m2,m3):
    self.m1=m1
    self.m2=m2
    self.m3=m3
  def avg(self):
    return(self.m1+self.m2+self.m3)/3
  def getM1(self):
    return self.m1
  @classmethod
  def info(cls):
    return cls.school
    
s1=student(30,20,15)
s2=student(18,39,57)
print(s1.avg())
print(s1.getM1())
print(student.info())

21.666666666666668
30
XYZ

In [12]:
class student:
  def __init__(self,name,rollno):
    self.name=name
    self.rollno=rollno
    self.lap=self.Laptop()
    
  def show(self):
    print(self.name, self.rollno)
    self.lap.show()
    
  class Laptop:
    def __init__(self):
      self.brand="HP"
      self.cpu="Rayzen 5"
      self.ram=16
    def show(self):
      print(self.brand, self.cpu, self.ram)
    
s1=student('Mike',1)
s2=student('Jenny',2)
s1.show()

lap1=student.Laptop()

Mike 1
HP Rayzen 5 16

In [16]:
class A:
  def feature1(self):
    print("feature1 is working")
  def feature2(self):
    print("feature2 is working")
class B():
  def feature3(self):
    print("feature3 is working")
  def feature4(self):
    print("feature4 is working")
class C(A,B):
  def feature5(self):
    print("feature5 is working")
    
a1=A()
a1.feature1()
a1.feature2()

b1=B()
b1.feature3()

c1=C()
c1.feature2()

feature1 is working
feature2 is working
feature3 is working
feature2 is working

In [17]:
class A:
  def __init__(self):
    print("This is constructor")
  def feature1(self):
    print("feature1 is working")
  def feature2(self):
    print("feature2 is working")
class B(A):
  def feature3(self):
    print("feature3 is working")
  def feature4(self):
    print("feature4 is working")
a1=A()

This is constructor

In [20]:
class PyCharm:
  def execute(self):
    print("compiling")
    print("Running")
    
class myEditor:
  def execute(self):
    print("Spell check")
    print("Convention Check")
    print("compiling")
    print("Running")
    

class Laptop:
  def code(self,IDE):
    IDE.execute()
    
    

IDE=myEditor()
lap1=Laptop()
lap1.code(IDE)

Spell check
Convention Check
compiling
Running

In [24]:
#operator overloading

class student:
  def __init__(self,m1,m2):
    self.m1=m1
    self.m2=m1
  def __add__(self,other):
    m1=self.m1+other.m1
    m2=self.m2+other.m2
    s3=student(m1,m2)
    return s3
s1=student(50,60)
s2=student(40,50)

s3=s1+s2
print(s3.m1)

90

In [25]:
#python doesn't support method overloading
#but by using  NONE and putting some if else statement we can achieve that

class student:
  
  def sum(self,a=None, b=None, c=None):
    s=0
    
    if a!=None and b!=None and c!=None:
      s=a+b+c
    elif a!=None and b!=None:
      s=a+b
    else:
      s=a
    return s
s1= student()
print(s1.sum(10,20))

30